<div class="page-wrapper">
    <!-- Page Header Start-->
    <div class="page-main-header">
        <div class="main-header-right">
            <div class="main-header-left text-center">
                <div class="logo-wrapper">
                    <a href="/"><img src="/assets/images/logo/logoA.png" alt=""></a>
                </div>
            </div>
            <div>
                <nav id="main-nav">
                    <!-- Sample menu definition-->
                    <ul class="sm pixelstrap" id="main-menu">
                        <li><a href="/"><i class="font-primary" data-feather="home"></i> Dashboard</a></li>
                        <li><a href="/"><i class="font-primary" data-feather="database"></i> Master</a>
                            <ul>
                                <li><a href="/wmsstorerkey">StorerKey</a></li>
                                <li><a href="/sku">SKU</a></li>
                                <li><a href="/location">Location</a></li>
                            </ul>

                        </li>
                        <li><a href="#"><i class="font-primary" data-feather="anchor"></i> WMS</a>
                            <ul>
                                <li><a href="#">Inbound</a>
                                    <ul>
                                        <li><a href="/asnreceipt">ASN Receipt</a></li>
                                        <li><a href="/poreceipt">PO Receipt</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Outbound</a>
                                    <ul>
                                        <li><a href="sidebar-fixed.html">Shipment Order</a></li>
                                        <li><a class="disabled" href="">Massive Outbound</a></li>
                                    </ul>
                                </li>

                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>

        </div>


    </div>


    <!-- Page Body Start-->
    <div class="page-body-wrapper">

        <div class="page-body">



            <!-- Page Body end-->