<header class="navbar navbar-expand-lg navbar-light bg-secondary">
    <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item"><a class="nav-link active" href="#">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Master</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Inbound</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Inventory</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Outbound</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Report</a></li>
    </ul>

</header>